@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* --breakpoint-*: initial; */
  --breakpoint-xs: 425px;
  --breakpoint-mobile: 430px;
  --breakpoint-tablet: 834px;
  --breakpoint-desktop: 1440px;

  --color-blue: #0052CC;
  --color-black: #0F0F0F; 
  --color-primary-gray: #171717;
  --color-secondary-gray: #1E1E1E;
  --color-terciary-gray: #232323;
  --color-white: #DFDFDF;
  --color-secondary-white: #9d9d9d;
  --color-gray: #747474;
  --color-border-gray: #363636;
  --color-hover-gray: #292929;
  --color-red: #E93544;
  --color-green: #006239;

  /* --font-*: initial; */
  --font-Inter: var(--inter);
  --font-Play: var(--play);
  --font-OpenSans: var(--openSans);
  --font-Raleway: var(--raleway);
  --font-Code: var(--sourceCodePro);

  --shadow-3xl: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  /* --text-*: initial; */
  --text-H1-desktop: 100px;
  --text-H1-desktop--line-height: 130%;
  --text-H2-desktop: 80px;
  --text-H2-desktop--line-height: 130%;
  --text-H3-desktop: 64px;
  --text-H3-desktop--line-height: 130%;
  --text-H4-desktop: 50px;
  --text-H4-desktop--line-height: 130%;
  --text-H5-desktop: 40px;
  --text-H5-desktop--line-height: 130%;
  --text-H6-desktop: 32px;
  --text-H6-desktop--line-height: 130%;
  --text-H7-desktop: 26px;
  --text-H7-desktop--line-height: 130%;
  --text-P-lg-desktop: 32px;
  --text-P-lg-desktop--line-height: 145%;
  --text-P-desktop: 26px;
  --text-P-desktop--line-height: 145%;
  --text-P-sm-desktop: 20px;
  --text-P-sm-desktop--line-height: 145%;
  --text-P-xs-desktop: 16px;
  --text-P-xs-desktop--line-height: 145%;

  --text-H1-tablet: 76px;
  --text-H1-tablet--line-height: 130%;
  --text-H2-tablet: 50px;
  --text-H2-tablet--line-height: 130%;
  --text-H3-tablet: 40px;
  --text-H3-tablet--line-height: 130%;
  --text-H4-tablet: 34px;
  --text-H4-tablet--line-height: 130%;
  --text-H5-tablet: 28px;
  --text-H5-tablet--line-height: 130%;
  --text-H6-tablet: 24px;
  --text-H6-tablet--line-height: 130%;
  --text-H7-tablet: 20px;
  --text-H7-tablet--line-height: 130%;
  --text-P-lg-tablet: 24px;
  --text-P-lg-tablet--line-height: 145%;
  --text-P-tablet: 20px;
  --text-P-tablet--line-height: 145%;
  --text-P-sm-tablet: 16px;
  --text-P-sm-tablet--line-height: 145%;
  --text-P-xs-tablet: 14px;
  --text-P-xs-tablet--line-height: 145%;

  --text-H1-mobile: 60px;
  --text-H1-mobile--line-height: 130%;
  --text-H2-mobile: 32px;
  --text-H2-mobile--line-height: 130%;
  --text-H3-mobile: 28px;
  --text-H3-mobile--line-height: 130%;
  --text-H4-mobile: 24px;
  --text-H4-mobile--line-height: 130%;
  --text-H5-mobile: 22px;
  --text-H5-mobile--line-height: 130%;
  --text-H6-mobile: 20px;
  --text-H6-mobile--line-height: 130%;
  --text-H7-mobile: 18px;
  --text-H7-mobile--line-height: 130%;
  --text-P-lg-mobile: 20px;
  --text-P-lg-mobile--line-height: 145%;
  --text-P-mobile: 18px;
  --text-P-mobile--line-height: 145%;
  --text-P-sm-mobile: 16px;
  --text-P-sm-mobile--line-height: 145%;
  --text-P-xs-mobile: 14px;
  --text-P-xs-mobile--line-height: 145%;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.play {
  font-family: "Play", sans-serif;
}

.text-h1 {
  @apply text-H1-mobile tablet:text-H1-tablet desktop:text-H1-desktop;
}

.text-h2 {
  @apply text-H2-mobile tablet:text-H2-tablet desktop:text-H2-desktop;
}

.text-h3 {
  @apply text-H3-mobile tablet:text-H3-tablet desktop:text-H3-desktop;
}

.text-h4 {
  @apply text-H4-mobile tablet:text-H4-tablet desktop:text-H4-desktop;
}

.text-h5 {
  @apply text-H5-mobile tablet:text-H5-tablet desktop:text-H5-desktop;
}

.text-h6 {
  @apply text-H6-mobile tablet:text-H6-tablet desktop:text-H6-desktop;
}

.text-h7 {
  @apply text-H7-mobile tablet:text-H7-tablet desktop:text-H7-desktop;
}

.text-p-lg {
  @apply text-P-lg-mobile tablet:text-P-lg-tablet desktop:text-P-lg-desktop;
}

.text-p {
  @apply text-P-mobile tablet:text-P-tablet desktop:text-P-desktop;
}

.text-p-sm {
  @apply text-P-sm-mobile tablet:text-P-sm-tablet desktop:text-P-sm-desktop;
}

.text-p-xs {
  @apply text-P-xs-mobile tablet:text-P-xs-tablet desktop:text-P-xs-desktop;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.w-pantalla {
  @apply w-[1400px];
}

.max-w-pantalla {
  @apply max-w-[1400px];
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: var(--color-border-gray);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.table {
  @apply border border-border-gray rounded-xl;
}

.table-header {
  @apply text-white py-2.5 bg-black pl-5 pr-1 flex justify-between items-center rounded-t-xl;
}

.table-content {
  @apply bg-secondary-gray rounded-b-xl;
}

.table-attribute {
  @apply py-2.5 pl-5 pr-1 flex justify-between items-center;
}

.table-attributes div {
  @apply text-gray flex gap-2.5 items-center;
}

.nested-table .table-attribute:last-child {
  @apply rounded-b-xl;
}

.table-nesteds {
  @apply px-5 pb-5 flex flex-col gap-2.5;
}

.table-attribute:last-child {
  @apply border-b-0;
}

.table-attribute .table-attribute__options {
  @apply opacity-0 transition-opacity delay-150 duration-300 ease-in-out;
}

.table-attribute:hover .table-attribute__options {
  @apply opacity-100;
}
